.customer {
    @include padinAuto;
    @include padinTopBot(60px); 
    &-icon {
        width: 100%;
    } 
    @media screen and (min-width: 1200px) {
        @include padinTopBot(94px);
       
    }
    &-title {
        margin-top: 0;
        margin-bottom: 30px;
        
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: $title-color;
        @media screen and (min-width: 1200px) {
           
            margin-bottom: 50px;
           
        }
    }   
    &-list {
        margin: -15px;
        
        @include displayFlex;
        @media screen and (min-width: 480px) {
             @include displayFlex;
        }
        
        @media screen and (min-width: 767px) {                        
             @include displayFlex;
               
        }
        @media screen and (min-width: 1200px) {                
            @include displayFlex
        }                
    }
    &-icon {
        width: calc((100% - 60px)/2);
        margin: 15px;
        
           
        @media screen and (min-width: 480px) {        
            width: calc((100% - 60px)/2);           
        }        
        @media screen and (min-width: 767px) {               
            @include displayFlex;
            
            width: calc((100% - 90px)/3);
          
        }        
            @media screen and (min-width: 1200px) {                
            width: calc((100% - 180px)/6);      
        }
    }
    
    &-logo {
        height: 92px;
        @include displayFlex;
        
            border: 1px solid $icon-color;
            box-sizing: border-box;
            border-radius: 4px;
        
            &:hover,
            &:focus {
                border: 1px solid $acsent-color;
            }
        
            &:hover .customer-svg,
            &:focus .customer-svg {
                fill: $acsent-color;
            }       
        @media screen and (min-width: 767px) {
            @include displayFlex;
            width: 226px;
            height: 92px;
        }
        
        @media screen and (min-width: 1200px) {
           
            @include displayFlex;
        }        
    }
    &-svg {
        
       width: 106px;
        height: 60px;
        transition: fill 250ms $timing-function;
        fill: $icon-color;
    }
}
